%h1 #{@results.events.count} events for March

- @results.events.each do |result|
  .event
    %h2= result.name
    %p= result.date
    %p= result.description
    %p= link_to result.venue_name, "#{result.venue_url}" 
    %p= result.venue_address
    
